.addEmployeeDetails {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    // padding-bottom: 130px !important;
    overflow-y: scroll;
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    & .addEmployeeAccordionContainer {
      width: 100%;
      height: max-content;
      padding: 20px 30px;
      border: 1px solid;
      border-radius: 4px;
      user-select: none;
  
      & .accordionHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        & .addButtonTable {
          display: flex;
          align-items: center;
          gap: 20px;
  
          & button {
            display: flex;
            align-items: center;
            gap: 6px;
  
            & span {
              font-weight: 700;
            }
          }
        }
  
        & h5 {
          font-size: 16px;
          font-weight: 700;
          text-transform: capitalize;
        }
  
        & span {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
  
      & .accordionContainerBody {
        width: 100%;
  
        & .divider {
          margin: 20px 0;
          width: 100%;
          height: 1px;
          display: block;
        }
  
        & .grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          gap: 20px 24px;
        }
  
        & .gridItems {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 6px;
  
          & label {
            text-transform: capitalize;
            font-size: 14px;
          }
        }
  
        // flex
        & .flex {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 24px;
        }
  
        & .table {
          border-radius: 4px;
  
          & table {
            & thead {
              border-radius: 4px;
            }
  
            & th {
              font-weight: 500;
            }
  
            & td {
              font-weight: 400;
              max-width: 141px;
            }
  
            & th,
            & td {
              padding: 12px 20px;
              font-size: 14px;
              white-space: wrap;
            }
  
            & .actionBtns {
              display: flex;
              align-items: center;
              gap: 20px;
            }
          }
        }
      }
    }
  }

  // media queries

  @media screen and (max-width: 1280px) {
    .addEmployeeDetails {
      & .addEmployeeAccordionContainer {
        & .accordionContainerBody {
          & .grid {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .addEmployeeDetails {
      & .addEmployeeAccordionContainer {
        & .accordionContainerBody {
          & .grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }

  @media screen and (max-width: 660px) {
    .addEmployeeDetails {
      & .addEmployeeAccordionContainer {
        & .accordionContainerBody {
          & .grid {
            grid-template-columns: repeat(1, 1fr);
          }

          & .flex {
            flex-direction: column;
          }
        }
      }
    }
  }