// default input
.defaultInputs {
  border-radius: 4px;
  width: 100%;
  height: auto;
  border: 1px solid;
  position: relative;
  display: flex;
  align-items: center;

  & input {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 12px;
    border-radius: 4px;
    width: 100%;
    min-height: 36px;
    appearance: none;
    font-size: 14px !important;
  }

  & span {
    position: absolute;
    right: 12px;
    top: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & .cancelButton {
      display: none;
      // right: 5px;
    }

    &:hover .dateIcons {
      display: none;
    }

    &:hover .cancelButton {
      display: block;
    }
  }
}

// antd
.cal1 {
  width: 100%;
  & input {
    &::placeholder {
      color: #a3a3a3 !important;
    }
  }

  .ant-picker-clear .anticon.anticon-close-circle svg {
    color: #ff3e5b !important;
  }

  & .ant-picker-suffix {
    & span.anticon.anticon-calendar {
      color: #ff3e5b !important;
    }
  }
}

:where(.css-1xg9z9n).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker {
  border-radius: 4px;
}

:where(.css-1xg9z9n).ant-picker-dropdown,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown,
:where(.css-dev-only-do-not-override-v800az).ant-picker-dropdown,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown,
:where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown {
  z-index: 99999;
}

// ========================================

.ant-picker-input input {
  // color: red;

  &::placeholder {
    color: #a3a3a3 !important;
  }
}

.anticon.anticon-swap-right svg {
  color: #ff3e5b !important;
}

.anticon.anticon-calendar svg {
  color: #ff3e5b !important;
}

.ant-picker-clear .anticon.anticon-close-circle svg {
  color: #ff3e5b !important;
}

.ant-picker-suffix {
  & span.anticon.anticon-calendar {
    color: #ff3e5b !important;
  }
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-range
  .ant-picker-active-bar {
  background: #ff3e5b;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-header-view
  button:hover,
:where(.css-dev-only-do-not-override-1xg9z9n) a,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown,
:where(.css-dev-only-do-not-override-v800az).ant-picker-dropdown {
  color: #ff3e5b;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-color: #ff3e5b;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner {
  text-align: center;
}

// dark theme layout

.dark :where(.css-1xg9z9n).ant-picker .ant-picker-input > input,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker
  .ant-picker-input
  > input,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker
  .ant-picker-input
  > input,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker
  .ant-picker-input
  > input {
  color: #ffffff;
}

:where(.css-1xg9z9n).ant-picker-outlined:hover,
.dark :where(.css-1xg9z9n).ant-picker-dropdown .ant-picker-panel-container,
.dark :where(.css-1xg9z9n).ant-picker-outlined,
.dark :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined {
  background-color: #0b0b0c;
}

.dark :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined,
.dark :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-outlined {
  background: #1c1c1c;
}

.dark :where(.css-1xg9z9n).ant-picker-dropdown .ant-picker-panel-container,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-panel-container,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-panel-container,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-panel-container {
  background: #1c1c1c;
}

.dark
  :where(.css-1xg9z9n).ant-picker-dropdown
  .ant-picker-header
  .ant-picker-header-view,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-header
  .ant-picker-header-view
  button,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-header
  .ant-picker-header-view
  button,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-header
  .ant-picker-header-view
  button {
  color: #fff;
}

.dark :where(.css-1xg9z9n).ant-picker-dropdown .ant-picker-header,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-header
  button,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-header
  button,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-header
  button {
  color: #545454;
}

.dark :where(.css-1xg9z9n).ant-picker-dropdown .ant-picker-content th,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-content
  th,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-content
  th,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-content
  th {
  color: #fff;
}

.dark :where(.css-1xg9z9n).ant-picker-dropdown .ant-picker-cell,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-cell,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-cell {
  color: #545454;
}

.dark :where(.css-1xg9z9n).ant-picker-dropdown .ant-picker-cell-in-view,
.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-cell-in-view,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-cell-in-view {
  color: #fff;
}

.dark :where(.css-1xg9z9n) a,
.dark :where(.css-dev-only-do-not-override-1xg9z9n) a,
.dark :where(.css-dev-only-do-not-override-1bw14ii) a,
.dark :where(.css-dev-only-do-not-override-pwpnrm) a {
  color: #fff;
}

.dark
  :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range:not(
    .ant-picker-cell-disabled
  ):before,
.dark
  :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range:not(
    .ant-picker-cell-disabled
  ):before,
.dark
  :where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range:not(
    .ant-picker-cell-disabled
  ):before {
  background: #270706;
}

// antd table border none
:where(.css-1xg9z9n).ant-picker-dropdown table tbody tr td,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-dropdown
  table
  tbody
  tr
  td,
:where(.css-dev-only-do-not-override-v800az).ant-picker-dropdown
  table
  tbody
  tr
  td,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  table
  tbody
  tr
  td,
:where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  table
  tbody
  tr
  td {
  border-bottom: none;
}

:where(.css-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-v800az).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-pwpnrm).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner {
  text-align: center;
}

// hover
:where(.css-1xg9z9n).ant-picker-outlined:hover,
:where(.css-1xg9z9n).ant-picker-outlined:hover,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined:hover {
  border-color: transparent !important;
}

// focus none
// :where(.css-1xg9z9n).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined:focus-within {
  border-color: #1c1c1c;
}

:where(.css-1xg9z9n).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before,
:where(.css-1xg9z9n).ant-picker-outlined:focus-within,
:where(.css-1xg9z9n).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined:focus-within,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined:focus-within,
:where(.css-dev-only-do-not-override-v800az).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-v800az).ant-picker-outlined:focus-within {
  border-color: none;
  box-shadow: none;
}

:where(.css-1xg9z9n).ant-picker-outlined:hover {
  background-color: #ffffff;
}

// range background color
.dark :where(.css-1xg9z9n).ant-picker-outlined,
.dark :where(.css-dev-only-do-not-override-v800az).ant-picker-outlined,
.dark :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined {
  background-color: #1c1c1c;
}

// border color
.dark :where(.css-1xg9z9n).ant-picker-outlined,
.dark :where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined,
.dark :where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined {
  border-color: #545454;
}

:where(.css-1xg9z9n).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined {
  border-color: #b5b5b6;
}

// height
:where(.css-1xg9z9n).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-picker-outlined,
:where(.css-dev-only-do-not-override-v800az).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1bw14ii).ant-picker-outlined {
  min-height: 38px;
}
