.advanceFilterContainer {
  width: 100%;
  height: 100%;

  & .advanceFilterHeader {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // advanceFilterContentsGrid

  & .advanceFilterContentsGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}
