.mileHRMobileViewTable {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 4px;
  display: none;

  // head
  & .mileHRMobileViewTableHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;

    & span {
      font-size: 14px;
      font-weight: 500;
    }

    & .stickyActions {
      position: sticky;
      right: 16px;
      top: 0;
      z-index: 10;
    }
  }

  // body
  & .mileHRMobileViewTableBody {
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      // width: 5px;
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &.lightTheme::-webkit-scrollbar-track {
      background: #f0efef;
    }

    &.darkTheme::-webkit-scrollbar-track {
      background: #0b0b0c;
    }

    // thumb
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }

    &.lightTheme::-webkit-scrollbar-thumb {
      background: #b5b5b6;
    }

    &.darkTheme::-webkit-scrollbar-thumb {
      background: #545454;
    }

    & .mileHRMobileViewTableBodyEmployeeContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      &:hover.lightTheme {
        background-color: #f2f2f2;
      }

      &:hover.darkTheme {
        background-color: #1c1c1c;
      }

      &:not(:last-child) .mileHRMobileViewTableBodyAction,
      &:not(:last-child) {
        border-bottom: 1px solid;
      }

      &:last-child .mileHRMobileViewTableBodyAction {
        border-bottom-right-radius: 4px;
      }

      & .mileHRMobileViewTableBodyAction {
        position: sticky;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        padding: 14px 16px;
        text-align: right;
      }

      &:hover.lightTheme .mileHRMobileViewTableBodyAction {
        background-color: #f2f2f2 !important;
      }

      &:hover.darkTheme .mileHRMobileViewTableBodyAction {
        background-color: #1c1c1c !important;
      }

      & .employeeData {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        min-width: 230px;
        padding: 14px 16px;

        &:first-child {
          border-bottom-left-radius: 4px;
        }

        & p {
          display: flex;
          align-items: center;
          gap: 6px;

          & span {
            font-size: 12px;
            text-transform: capitalize;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
            &.status {
              padding: 2px 6px;
              border-radius: 4px;
              border: 1px solid;
            }

            &.activeLight {
              background: #e2f9d2;
              border-color: #56ac18;
              color: #56ac18;
            }

            &.activeDark {
              background: #162d06;
              border-color: #56ac18;
              color: #56ac18;
            }

            &.disactiveLight {
              background: #fbd1d0;
              border-color: #ed302d;
              color: #ed302d;
            }

            &.disactiveDark {
              background: #2f0504;
              border-color: #ed302d;
              color: #ed302d;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .mileHRMobileViewTable {
    display: block;
  }
}
