.bookingTable {
  width: 100%;
  border-spacing: 0;
  position: relative;
}
.bookingTable tr td, .bookingTable tr th {
  font-size: 14px;
  padding: 13px 20px;
  text-align: left;
  white-space: nowrap;
}
.bookingTable tr:last-child td {
  border-bottom: 0;
}
.bookingTable .tableHeads {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 4;
}
.bookingTable .tableHeads .table th {
  border-bottom: 1px solid;
}
.bookingTable .tableHeads .table th span {
  position: relative;
}
.bookingTable .tableHeads .table th span svg {
  position: absolute;
  right: -25px;
  top: 1px;
}
.bookingTable .tableHeads .table th:first-child {
  border-top-left-radius: 4px;
}
.bookingTable .tableHeads .table th:last-child {
  border-top-right-radius: 4px;
}
.bookingTable tbody tr td {
  border-bottom: 1px solid;
}
.bookingTable tbody tr td .status {
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid;
  font-size: 12px;
}
.bookingTable tbody tr td .status.Alloted.lightTheme, .bookingTable tbody tr td .status.Delivered.lightTheme, .bookingTable tbody tr td .status.Booked.lightTheme {
  border-color: #56AC18;
  background: #E2F9D2;
  color: #56AC18;
}
.bookingTable tbody tr td .status.Alloted.darkTheme, .bookingTable tbody tr td .status.Delivered.darkTheme, .bookingTable tbody tr td .status.Booked.darkTheme {
  border-color: #56AC18;
  background: #162D06;
  color: #56AC18;
}
.bookingTable tbody tr td .status.Cancelled.lightTheme {
  border-color: #ED302D;
  background: #FBD1D0;
  color: #ED302D;
}
.bookingTable tbody tr td .status.Cancelled.darkTheme {
  border-color: #ED302D;
  background: #2F0504;
  color: #ED302D;
}
.bookingTable tbody tr td .status.Cancellation.lightTheme {
  border-color: #f99c22;
  background: #fef3d2;
  color: #f99c22;
}
.bookingTable tbody tr td .status.Cancellation.darkTheme {
  border-color: #f99c22;
  background: #2b2521;
  color: #f99c22;
}
.bookingTable tbody tr td .status.Transferred.lightTheme {
  border-color: #2782f9;
  background: #d3edfe;
  color: #2782f9;
}
.bookingTable tbody tr td .status.Transferred.darkTheme {
  border-color: #2782f9;
  background: #20232c;
  color: #2782f9;
}
.bookingTable tbody tr td .status.Invoiced.lightTheme {
  border-color: #9747ff;
  background: #f3eaff;
  color: #9747ff;
}
.bookingTable tbody tr td .status.Invoiced.darkTheme {
  border-color: #9747ff;
  background: #20232c;
  color: #9747ff;
}
.bookingTable tbody tr.lightHover:hover {
  background: #f2f2f2;
}
.bookingTable tbody tr.darkHover:hover {
  background: #1c1c1c;
}

@media screen and (max-width: 1366px) {
  table tr td:not(:last-child, :first-child), table th:not(:last-child, :first-child) {
    padding-right: 10px;
    padding-left: 10px;
  }
  table tr td:first-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 1058px) {
  table tr td, table tr th {
    padding: 13px 18px;
  }
}
@media screen and (max-width: 1366px) {
  table tr td:not(:last-child, :first-child), table th:not(:last-child, :first-child) {
    padding-right: 10px;
    padding-left: 10px;
  }
  table tr td:first-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 1038px) {
  table tr td, table tr th {
    padding: 13px 16px;
  }
}/*# sourceMappingURL=styles.css.map */